body {
  font-family: 'Lato', sans-serif;
}

.container {
  background-color: white;
  margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 10px 150px 10px 150px;
}

h1 {
  color: rgb(127,127,127);
  font-family: 'Lato', sans-serif;
  border-bottom: 2px solid rgb(127,127,127);
}

#rectangle{
  width: auto;
  height: auto;
  background: rgb(142,180,227);
  color: white;
  text-align: center;
}

#name{
  font-size: 1.40rem;
}

.NameandDate {
  font-size: 1rem;
}

#date {
  float:right;
}


.PlaceandDegree {
  font-size: .90rem;
}

.description {
  font-size: .90rem;
  margin-right: 200px;
  text-align: justify;
}

#multipleplaces {
  list-style-type: none;
  padding: 0px;
}

ul {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: .90rem;
}

.compare-btn{
  display:flex;
  justify-content: center;
}

.compare-btn a{
  cursor: pointer;
  border: 1px solid #204156;
  text-align: center;
  padding: 5px;
  position: relative;
  background-color: rgb(127,127,127);
  color: white;
}

.compare-btn a:hover {
  background-color: white;
  color: rgb(127,127,127);
}

.compare-btn a:active {
	top: 2px;
}
