body {
  font-family: 'Lato', sans-serif;
}

ul {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: .90rem;
}

h1 {
  color: rgb(127,127,127);
  font-family: 'Lato', sans-serif;
  border-bottom: 2px solid rgb(127,127,127);
}

.container {
  background-color: white;
  margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 10px 150px 10px 150px;
}

.header {
  color: white;
  text-align: center;
}

#rectangle{
  width: auto;
  height: auto;
  background: rgb(142,180,227);
}

#name{
  font-size: 1.40rem;
}

.NameandDate {
  font-size: 1rem; 
}

#date {
  float:right;
}

.PlaceandDegree {
  font-size: .90rem;
}

.description {
  font-size: .90rem;
  margin-right: 200px;
  text-align: justify;
}
